@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    ???<br />
    Chicago, IL<br />
    <abbr title="Phone">P:</abbr>
    666.666.666
</address>

<address>
    <strong>Support:</strong> <a href="mailto:chamill@strivelogistics.com">AngryMan</a><br />
</address>
